body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03cm;
  background-color: #ffffff;
  color: #212121;
  width: 1600px;
  margin: auto;
  padding: 0;
  position: relative;
  font-weight: 400;
}
.header {
  width: 1600px;
  height: 80px;
  background-color: #ffffff;
  flex-direction: row;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
}
.navigation {
  margin-left: 51px;
}
.nav-list {
  list-style: none;
  flex-direction: row;
  display: flex;
  gap: 46px;
}
.nav-list li {
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.contact-mail {
  margin-left: 371px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #757575;
}
.contact-tel {
  margin-left: 50px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #757575;
}
.studio-logo {
  font-family: 'Raleway';
  height: 31px;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  margin-left: 215px;
  text-decoration: none;
}
.blue-text {
  color: #2196f3;
}
.link {
  text-decoration: none;
  display: flex;
}
.link:visited {
  color: #212121;
}
.link:hover {
  color: #2196f3;
}
.link:focus {
  color: #2196f3;
}
.main-section {
  background-color: #2f303a;
  width: 1600px;
  height: 600px;
}
.main-section h1 {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06cm;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 200px;
  padding-left: 452px;
  padding-right: 452px;
  padding-bottom: 30px;
  margin: 0 auto;
}
.main-button {
  margin-left: 700px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  line-height: 1.875;
  font-size: 16px;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
}
.container-list {
  list-style: none;
  flex-direction: row;
  display: flex;
  gap: 30px;
  margin-left: 215px;
  margin-right: 215px;
  margin-top: 78px;
  margin-bottom: 0px;
  padding: 0;
}
.button-container {
  list-style: none;
  flex-direction: row;
  display: flex;
  gap: 8px;
  margin-top: 94px;
  margin-left: 510px;
}
.button-section button {
  width: 121px;
  height: 38px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}
.section-white h3 {
  font-weight: 700;
  font-style: normal;
  line-height: 1.19;
  text-transform: uppercase;
  margin-bottom: 10px;
  letter-spacing: 0.03em;
}
.section-white p {
  text-align: justify;
  font-style: normal;
  line-height: 1.71;
  color: #757575;
  width: 270px;
  letter-spacing: 0.03em;
}
.section-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-top: 94px;
  letter-spacing: 0.03em;
}
.section-grey {
  width: 1600px;
  height: 648px;
  margin-top: 94px;
  background-color: #f5f4fa;
}
.section-grey li {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.section-grey h3 {
  font-weight: 500;
  text-align: center;
  line-height: 1.19;
}
.section-grey p {
  text-align: center;
  line-height: 1.19;
  color: #757575;
}
.portfolio-container {
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: 215px;
  padding: 0px;
}
.portfolio-list {
  list-style: none;
  flex-wrap: wrap;
  display: flex;
  gap: 30px;
  padding: 0px;
}
.portfolio-container li {
  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
}
.portfolio-container h3 {
  width: 322px;
  height: 36px;
  margin-left: 24px;
  margin-top: 20px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-container p {
  width: 322px;
  height: 30px;
  margin-left: 24px;
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}
.footer {
  width: 1600px;
  height: 192px;
  padding-top: 60px;
  background-color: #2f303a;
}
.studio-logo-bottom {
  font-family: 'Raleway';
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  margin-left: 215px;
  text-decoration: none;
  width: 145px;
  color: #fff;
  text-decoration: none;
}
.studio-logo-bottom:visited {
  color: #ffffff;
}
.studio-logo-bottom:hover {
  color: #2196f3;
}
.studio-logo-bottom:focus {
  color: #2196f3;
}
.address {
  padding-top: 20px;
  padding-left: 215px;
  color: #ffffff;
  line-height: 24px;
  flex-direction: row;
  display: flex;
  font-style: normal;
}
.footer-contact {
  padding-top: 9px;
  padding-left: 215px;
  line-height: 24px;
  width: 231px;
  height: 21px;
  color: rgba(255, 255, 255, 0.6);
}
