:root {
  --white: #fff;
  --black: #212121;
  --border: #ececec;
  --blue: #2196f3;
  --grey: #757575;
  --background-dark: #2f303a;
  --shadow-dark: rgba(0, 0, 0, 0.15);
  --background-white: #f5f4fa;
  --border-white: #eeeeee;
  --shadow-bright-one: rgba(0, 0, 0, 0.12);
  --shadow-bright-two: rgba(0, 0, 0, 0.14);
  --shadow-bright-three: rgba(0, 0, 0, 0.2);
  --contact-color: rgba(255, 255, 255, 0.6);
}
body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--white);
  color: var(--black);
  width: 100%;
  font-weight: 400;
}
.main-page {
  margin: 0 auto;
}
.header {
  flex-direction: row;
  display: flex;
  align-items: center;
  padding: 25px 0 24px 0;
  gap: 93px;
  justify-content: space-between;
}
.header-border {
  border-bottom: 1px solid var(--border);
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  gap: 46px;
  padding: 0;
}
.nav-list li {
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.text--blue {
  color: var(--blue);
}
.studio-link:visited {
  color: var(--black);
}
.link {
  text-decoration: none;
}
.link:visited {
  color: var(--black);
}
.link:hover,
.link:focus {
  color: var(--blue);
}
.link.active {
  color: var(--blue);
}
.contacts {
  display: flex;
  gap: 50px;
  padding: 0 0 0 278px;
  margin: 0;
}
.contacts-item {
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--grey);
  font-style: normal;
}
.studio-logo {
  font-family: 'Raleway';
  font-size: 26px;
  font-weight: 700;
  line-height: 1.193;
  text-decoration: none;
}
.section {
  padding: 94px 0;
}
.no-bottom-padding {
  padding: 94px 0 0 0;
}
.effective-solutions {
  background-color: var(--background-dark);
  width: 100%;
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  padding-bottom: 200px;
}
.effective-solutions h1 {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06cm;
  text-transform: uppercase;
  color: var(--white);
  margin: 0;
  padding-top: 200px;
}
.effective-solutions p {
  margin: 0;
}
.main-button {
  background: var(--blue);
  box-shadow: 0px 4px 4px var(--shadow-dark);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  line-height: 1.875;
  font-size: 16px;
  letter-spacing: 0.06em;
  color: var(--white);
  cursor: pointer;
}
.container-list {
  list-style: none;
  flex-direction: row;
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0;
}
.button-container {
  list-style: none;
  flex-direction: row;
  display: flex;
  gap: 8px;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.button-container button {
  background-color: var(--background-white);
  box-shadow: 0px 4px 4px var(--shadow-dark);
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  font-family: 'Roboto';
  padding: 6px 22px;
}
.button-container button:hover {
  background-color: var(--blue);
  color: var(--white);
}
.section--white-header {
  font-weight: 700;
  font-style: normal;
  line-height: 1.14;
  text-transform: uppercase;
  margin: 0 0 10px 0;
}
.section--white-paragraph {
  line-height: 1.71;
  color: var(--grey);
  margin: 0;
}
.heading--second {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin: 0 0 50px 0;
}
.section--grey {
  background-color: var(--background-white);
}
.section--grey li {
  background-color: var(--white);
  box-shadow: 0px 1px 3px var(--shadow-bright-one),
    0px 1px 1px var(--shadow-bright-two), 0px 2px 1px var(--shadow-bright-three);
  border-radius: 0px 0px 4px 4px;
}
.section--grey h3 {
  font-weight: 500;
  margin: 30px 0 10px 0;
}
.section--grey p {
  color: var(--grey);
  margin: 0 0 30px 0;
}
.team-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.portfolio {
  padding-top: 0;
  margin-top: 50px;
  justify-content: center;
}
.portfolio-list {
  list-style: none;
  flex-wrap: wrap;
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0;
}
.portfolio-list li {
  box-sizing: border-box;
  border-bottom: 1px solid var(--border-white);
}
.portfolio-list h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 20px 0 4px 24px;
}
.portfolio-list p {
  font-size: 16px;
  line-height: 1.875;
  color: var(--grey);
  margin: 0 0 20px 24px;
}
.footer {
  background-color: var(--background-dark);
  padding: 60px 0;
}
.studio-logo-bottom {
  font-family: 'Raleway';
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  text-decoration: none;
  color: var(--white);
  text-decoration: none;
}
.studio-logo-bottom:visited,
.studio-logo-bottom:hover,
.studio-logo-bottom:focus {
  color: var(--white);
}
.address {
  color: var(--white);
  line-height: 1.71;
  font-style: normal;
  margin-top: 20px;
}
.footer-contact {
  color: var(--contact-color);
  flex-direction: column;
  display: flex;
  margin: 9px 0;
  width: 231px;
}
