@import './utils/mixins.scss';
@import './utils/vars.scss';
@import './components/header.scss';
@import './components/box.scss';
@import './components/body.scss';
@import './components/link.scss';
@import './components/slider.scss';
@import './components/buttons.scss';
@import './components/speciality.scss';
@import './components/block.scss';
@import './components/services.scss';
@import './components/team.scss';
@import './components/icons.scss';
@import './components/clients.scss';
@import './components/footer.scss';
@import './components/modal.scss';
@import './components/portfolio.scss';