.block {
  padding: 94px 0;
  &__container {
    @include set-flex(column, center, center);
    gap: 50px;
  }
  &__header {
    @include font-styles(36px, 700, 0.03em);
    line-height: 1.16;
    margin: 0;
  }
  &__background {
    background-color: $background--white;
  }
  @extend .box;
}
.background--grey{
  background-color: $background--white;
  width: 100%;
}