.button--blue {
  background: $blue;
  box-shadow: 0px 4px 4px $shadow--dark;
  border-radius: 4px;
  border-style: none;
  width: 200px;
  height: 50px;
  @include font-styles(16px, 700, 0.06em);
  line-height: 1.875;
  color: $white;
  cursor: pointer;
  @include set-flex(row, center, center);
  gap: 24px;
  &:hover,
  &:focus {
    background-color: $background--darker;
    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  }
}
.buttons {
    @include set-flex(row, center, center);
  list-style: none;
  gap: 8px;
  margin: 94px 0 0 0;
  padding: 0;
  &__item {
    background-color: $background--white;
    border-radius: 4px;
    border-style: none;
    cursor: pointer;
    @include font-styles(16px, 500, 0.03em);
    line-height: 1.62;
    font-family: 'Roboto';
    padding: 6px 22px;
  }
  &__item:hover,
  &__item:focus {
    background-color: $blue;
    color: $white;
    box-shadow: 0px 4px 4px $shadow--dark;
    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  }
}
