.clients {
  max-width: 480px;
  margin: 0;
  padding: 0;
  list-style: none;
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  &__logo {
    @include set-flex(row, center, center);
    padding: 16px 52px 16px 52px;
    border: 1px solid $text--grey;
    border-radius: 4px;
    fill: $text--grey;
  }
  &__logo:hover,
  &__logo:focus {
    fill: $blue;
    border: 1px solid $blue;
    cursor: pointer;
    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  }
}
@media screen and (min-width: 768px) {
  .clients{
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .clients {
    max-width: 1200px;
    &__logo {
      padding: 0;
      width: 170px;
      height: 92px;
    }
  }
}
