.header {
  border-bottom: 1px solid $border;
  &__container {
    @extend .box;
    @include set-flex(row, space-between, center);
    padding: 25px 0 24px 0;
    gap: 93px;
  }
  &__navigation {
    list-style: none;
    display: flex;
    margin: 0;
    gap: 46px;
    padding: 0;
  }
  &__point {
    @include font-styles(14px, 500, 0.02em);
    line-height: 1.14;
  }
  &__block {
    display: flex;
    gap: 50px;
    padding: 0 0 0 278px;
    margin: 0;
  }
  &__contact {
    @include set-flex(row, center, center);
    @include font-styles(14px, 500, 0.02em);
    gap: 10px;
    line-height: 1.2;
    color: $grey;
    font-style: normal;
    @extend .link;
  }
  &__studio-logo {
    font-family: 'Raleway';
    @include font-styles(26px, 700, 0.03em);
    line-height: 1.193;
    text-decoration: none;
  }
  &__studio-logo--blue {
    color: $blue;
  }

  &__studio-logo:visited {
    color: $black;
  }
}
