.link {
  text-decoration: none;
  fill: $grey;
  &:visited {
    color: $black;
  }
  &:hover,
  &:focus {
    color: $blue;
    fill: $blue;
    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  }
  &.link--active {
    color: $blue;
  }
  &--active:after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: $blue;
    transform: translateY(34px);
    border-radius: 2px;
  }
}
@media screen and (min-width:1200px){
  .link {
      &--active:after {
        transform: translateY(31px);
      }
    }
}