.mobile-hidden {
  display: none;
}
@media screen and (min-width: 1200px) {
  .mobile-hidden {
    display: block;
    padding: 94px 0;
    width: 1200px;
    margin: 0 auto;
    &__container {
      @include set-flex(column, center, center);
      gap: 50px;
    }
    &__header {
      @include font-styles(36px, 700, 0.03em);
      line-height: 1.16;
      margin: 0;
    }
    &__background {
      background-color: $background--white;
    }
  }
}
