.modal {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 15px;
  background-color: $backdrop--color;
  transition: ease-in-out 500ms;
  &__container {
    background-color: $white;
    max-width: 450px;
    margin: auto;
    box-shadow: 0px 1px 3px $shadow-bright--one, 0px 1px 1px $shadow-bright--two,
      0px 2px 1px $shadow-bright--three;
    border-radius: 4px;
    @include set-flex(column, center, flex-end);
  }
  &__block {
    padding: 10px 40px 40px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__close-button {
    margin-right: 8px;
    height: 30px;
    width: 30px;
    border: 1px solid $button-border;
    border-radius: 50%;
    background-color: $white;
    position: relative;
    top: 8px;
    z-index: 1;
    @include set-flex(row, center, center);
    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  }
  &__close-button:focus,
  &__close-button:hover {
    cursor: pointer;
    background-color: $background--dark;
  }
  &__close-button:focus .modal__close-icon,
  &__close-button:hover .modal__close-icon {
    fill: $white;
  }
  &__close-icon {
    flex-shrink: 0;
    fill: $background--dark;
    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  }
  &__close-icon:hover,
  &__close-icon:focus {
    fill: $white;
  }
  &__header {
    line-height: 1.15;
    font-weight: 700;
    margin-top: 0;
    text-align: center;
  }
  &__label {
    @include font-styles(12px, 400, 0.01em);
    line-height: 1.15;
    color: $grey;
    position: relative;
  }
  &__input {
    height: 40px;
    width: 370px;
    border: 1px solid $input-border;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-top: 4px;
    padding-left: 42px;
    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    display: flex;
  }
  &__textarea {
    height: 120px;
    width: 370px;
    border: 1px solid $input-border;
    margin-top: 4px;
    border-radius: 4px;
    resize: none;
    padding: 12px 16px;
    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    display: flex;
  }
  &__textarea:placeholder-shown {
    color: $textarea-color;
    letter-spacing: 0.01em;
    line-height: 1.15;
  }
  &__acceptance-container {
    @include set-flex(column, center, center);
    gap: 30px;
  }
  &__acceptance-label {
    @include font-styles(11px, 400, 0.03em);
    line-height: 1.15;
    margin-top: 20px;
  }
  &__acceptance-hidden {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }
  &__link {
    color: $blue;
    text-decoration: underline;
    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  }
  &__link:hover,
  &__link:focus {
    cursor: pointer;
    color: $red;
  }
  &__icon {
    position: absolute;
    top: 33px;
    left: 15px;
    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    z-index: 1;
  }
  &__input:hover,
  &__textarea:hover {
    outline: none;
    border-color: $blue;
  }
  &__input:focus,
  &__textarea:focus {
    outline: none;
  }
  &__label:hover &__icon,
  &__label:focus &__icon {
    fill: $blue;
  }
  &__tick-icon {
    position: relative;
    fill: $white;
    z-index: 1;
    left: 19px;
  }
  &__tick-box {
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-right: 8px;
    top: 1px;
    height: 16px;
    width: 16px;
    border-radius: 2px;
    background-color: transparent;
    border: $black 1px solid;
  }
  &__acceptance-label input:checked ~ &__tick-box {
    background-color: $blue;
    border: none;
  }
  &__tick-box:after {
    content: '';
    position: absolute;
    display: none;
  }
  &__acceptance-label input:checked ~ &__tick-box:after {
    display: block;
  }
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
@media screen and (min-width: 1200px) {
  .modal {
    &__container {
      max-width: 528px;
      min-height: 581px;
      padding: 0;
      @include set-flex(column, none, center);
      gap: 10px;
    }
    &__close-button {
      margin: 0;
      left: 240px;
    }
    &__header {
      margin-bottom: 12px;
      display: flex;
      justify-content: center;
      margin-top: 0;
    }
    &__input {
      width: 448px;
    }
    &__textarea {
      width: 448px;
    }
    &__acceptance-label {
      @include font-styles(14px, 400, 0.03em);
    }
  }
}
