.section {
    padding: 94px 0;

&__header {
    @include font-styles(36px, 700, 0.03em);
    line-height: 1.16;
    text-align: center;
    margin: 0 0 50px 0;
}}
.section--no-padding {
    padding: 94px 0 0 0;
}

.section--grey {
    background-color: $background--white;
}