.studio-logo {
  font-family: 'Raleway';
  @include font-styles(26px, 700, 0.03em);
  line-height: 1.193;
  text-decoration: none;
  &--blue {
    color: $blue;
  }
  &:visited {
    color: $black;
  }
}
