$white: #fff;
$black: #212121;
$border: #ececec;
$blue: #2196f3;
$grey: #757575;
$red: #d30000;
$text--grey: #afb1b8;
$background--darker: #125286;
$background--dark: #2f303a;
$shadow--dark: rgba(0, 0, 0, 0.15);
$background--white: #f5f4fa;
$background--blue: rgba(33, 150, 243, 0.9);
$background--footer-icon: rgba(255, 255, 255, 0.1);
$background--image-description: rgba(47, 48, 58, 0.8);
$border--white: #eeeeee;
$shadow-bright--one: rgba(0, 0, 0, 0.12);
$shadow-bright--two: rgba(0, 0, 0, 0.14);
$shadow-bright--three: rgba(0, 0, 0, 0.2);
$contact--color: rgba(255, 255, 255, 0.6);
$footer-border: rgba(255, 255, 255, 0.3);
$backdrop--color: hsla(0, 0%, 0%, 0.5);
$portfolio-shadow--one: rgba(0, 0, 0, 0.12);
$portfolio-shadow--two: rgba(0, 0, 0, 0.06);
$portfolio-shadow--three: rgba(0, 0, 0, 0.16);
$button-border: rgba(0, 0, 0, 0.1);
$filter-color:rgba(0, 0, 0, 0.15);
$input-border: rgba(33, 33, 33, 0.2);
$textarea-color: rgba(117, 117, 117, 0.5);

$site-fonts: 'Roboto', 'Raleway', 'sans-serif';